black==23.9.1
ruff==0.0.291
pylint==3.0.0a7
mypy==1.5.1

flake8==6.1.0
flake8-annotations-complexity==0.0.8
flake8-broken-line==1.0.0
flake8-bugbear==23.9.16
flake8-builtins==2.1.0
flake8-cognitive-complexity==0.1.0
flake8-comprehensions==3.14.0
flake8-debugger==4.1.2
flake8-docstrings==1.7.0
flake8-eradicate==1.5.0
flake8-expression-complexity==0.0.11
flake8-multiline-containers==0.0.19
flake8-mutable==1.2.0
flake8-new-union-types==0.4.1
flake8-pep585==0.1.7
flake8-print==5.0.0
flake8-requirements==1.7.8
flake8-simplify==0.21.0
flake8-todos==0.3.0